.card-container {
  border: 1px solid #333;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #111;
}
.card-container:link,
.card-container:active,
.card-container:visited {
  color: #fff;
  text-decoration: none;
}
.card-img {
  width: 40px;
  height: auto;
}
.card-name {
  font-size: 1.1rem;
}
.card-price {
  font-weight: 700;
  letter-spacing: 1.25px;
}
.change-negative {
  color: #df6363;
}
.change-positive {
  color: #5fefb3;
}
.no-result {
  font-size: 2rem;
  color: #fff;
}
