body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
h6 {
  padding: 5px;
  margin: 0;
}
